<div class="row">
    <div class="col-md">
        <p class="h4"><i class="far fa-calendar-alt"></i> <%= @event[:date] %> </p>
        <h1>RSVP for <%= @event[:title] %></h1>
        <br>
        <form>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Are you going?</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Your name</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="John Doe">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
        </form>
        <button type="button" href="/events/<%= @event[:id] %>/rsvps/new" class="btn btn-primary">RSVP now!</button>
    </div>
</div>